.fullName {
    position: absolute;
    right: 270px;
    width: auto;
    border-radius: 360px;
    margin-top: 12px;
    border: 1px solid rgb(3, 111, 199);
}

.fullName:hover {
    background-color: rgb(3, 120, 216);
    color: white;
}

.logout {
    position: absolute;
    right: 30px;
    width: 100px;
    border-radius: 360px;
    margin-top: 12px;
}

.logout:hover {
    background-color: white;
    color: rgb(3, 120, 216);
}

.home {
    position: absolute;
    right: 150px;
    width: 100px;
    border-radius: 360px;
    border: 1px solid rgb(3, 120, 216);
    margin-top: 12px;
}

.home:hover {
    box-shadow: inset 0px 0px 5px rgb(1, 94, 233);
    background-color: rgb(3, 120, 216);
    color: white;
}

#dash {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: white;
    width: 100%;
    text-align: start;
    padding-left: 30px;
    padding-top: 25px;
    height: 100px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgb(128, 127, 127);

}

#dash>span {
    color: rgb(3, 111, 199);

}

.BlogTitleDiv {
    background-color: white;
    padding: 30px 30px;
    margin: 30px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgb(128, 127, 127);
}

#blogtitle {
    display: flex;
    font-family: monospace;
}

#blogdescription {
    display: flex;
    font-family: monospace;
}

#validationTextarea {
    min-height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formGroupExampleInput {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.publishBtn {
    display: flex;
    margin-top: 30px;
}

#editbtn {
    border: none;
    background-color: transparent;
}

#editbtn:hover {
    transform: scale(1.075);
}

#delbtn {
    border: none;
    margin-left: 15px;
    background-color: transparent;
}

#delbtn:hover {
    transform: scale(1.075);
}

#AllBlogs {
    text-align: start;
    padding-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 15px;
}

.anyBlogDiv {
    background-color: white;
    padding: 30px 30px;
    margin: 30px;
    box-shadow: 0px 3px 7px rgb(128, 127, 127);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.anyBlogDiv>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Media Query */

@media screen and (max-width: 991px) {
    .fullName {
        position: absolute;
        top: 90px;
        left: 0;
        width: 30%;
        margin-left: 30px;
    }

    .home {
        position: absolute;
        top: 140px;
        left: 0;
        width: 30%;
        margin-left: 30px;

    }

    .logout {
        position: absolute;
        top: 150px;
        left: 0;
        width: 30%;
        margin-top: 50px;
        margin-left: 30px;
    }

    .homenav {
        padding-bottom: 150px;
    }

}

@media screen and (max-width: 490px) {
    .anyBlogDiv {
        margin: 15px;
    }

    .anyBlogDiv>h1 {
        font-size: large;
    }

    .BlogTitleDiv {
        margin: 15px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 330px) {
    .fullName {
        width: 50%;
        margin-left: 80px;
    }

    .home {
        width: 50%;
        margin-left: 80px;
    }

    .logout {
        width: 50%;
        margin-left: 80px;
    }

}