#BackToHome {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: white;
    width: 100%;
    text-align: start;
    padding-left: 30px;
    padding-top: 25px;
    height: 100px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px rgb(128, 127, 127);
}

#AllBlogs {
    text-align: start;
    padding-left: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

.UserBlogMainDiv {
    padding: 0 20px;
    margin-bottom: 50px;
}

.UserBlogDiv {
    background-color: white;
    box-shadow: 0px 0px 5px black;
    width: auto;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    gap: 25px;
}

#userImg {
    width: 70px;
    border-radius: 360px;
}

#userHead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-bottom: 0;
    text-align: start;
    text-transform: capitalize;
}

#userNames {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: small;
    margin-bottom: 0;
    text-align: start;
}

#userPara {
    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
}

.UserBlogDetailDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.UserProfileDiv {
    box-shadow: 0px 0px 5px black;
    background-color: white;
    width: auto;
    margin: 22px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px 30px;
    gap: 25px;
}

.UserProfileInnerDiv {
    background-color: #dee2e6be;
    min-height: 230px;
    border-radius: 10px;
    box-shadow: 0px 3px 2px black;
}

#UserProfileImg {
    width: 125px;
    height: 125px;
    margin-top: 17px;
    aspect-ratio: 2 / 2;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #036fc7;
}

#UserProfileName {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #036fc7;
    margin-top: 10px;
}

#UserProfileEmail {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    margin-top: -10px;
}

/* Media Query */

@media screen and (max-width: 410px) {

    #userHead {
        font-size: 17px;
        text-align: start;
    }

    #userNames {
        font-size: 11px;
        text-align: start;
        padding-top: 3px;
    }

    #UserProfileImg {
        width: 100px;
        height: 100px;
        margin-top: 25px;
    }

    #UserProfileEmail {
        font-size: medium;
    }
}

@media screen and (max-width: 342px) {

    #userImg {
        width: 50px;
    }

    #userHead {
        font-size: 13px;
        text-align: start;
    }

    #userNames {
        font-size: 9px;
        text-align: start;
        padding-top: 3px;
    }
}