.navbar {
    height: 20px;
    background-color: white;
}

#logo {
    width: 80px;
    padding-top: 40px;
    cursor: pointer;
}

#nav {
    box-shadow: 2px 2px 5px rgb(128, 127, 127);
    background-color: white;
}

.navtext {
    padding-top: 45px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

.SinupNavBtn {
    position: absolute;
    right: 30px;
    width: 100px;
    border-radius: 360px;
    margin-top: 12px;
}

.LoginNavBtn {
    position: absolute;
    right: 150px;
    width: 100px;
    border-radius: 360px;
    border: 1px solid black;
    margin-top: 12px;
}

.LoginNavBtn:hover {
    box-shadow: inset 0px 0px 5px rgb(1, 94, 233);
}

@media screen and (max-width: 991px) {
    .LoginNavBtn {
        position: absolute;
        top: 90px;
        left: 0;
        width: 30%;
        margin-left: 30px;

    }

    .SinupNavBtn {
        position: absolute;
        top: 100px;
        left: 0;
        width: 30%;
        margin-top: 50px;
        margin-left: 30px;
    }

    .homenav {
        padding-bottom: 100px;
    }

    #logo {
        padding-top: 0;
    }

    .navtext {
        padding-top: 0;
    }
}